<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Clinks | Change Password</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>

<body>
{% if user.is_authenticated %}

    <nav class="navbar shadow">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"><a style="cursor: default;">C <b>L I N K </b> S</a></span>
            <a class="text-light text-decoration-none float-end px-3" href="{% url 'admin' %}"><i class="fas fa-tv fa-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dashboard"></i></a>
        </div>
    </nav>
{% if messages %}
    {% for message in messages %}
         <div class="alert alert-danger alert-dismissible fade show alert-error" role="alert">
            <h4 class="alert-heading"><i class="fas fa-thumbs-down"></i> Oh no!</h4>
            {{ message }}
             <div class="close__button">
                <span aria-label="Close" class="close-btn" data-bs-dismiss="alert" type="button"><i class="fas fa-times fa-lg"></i></span>
            </div>
        </div>
        <script>
             $('.close-btn').click(function(){
               $('.alert').removeClass("show");
               $('.alert').addClass("hide");
             });
        </script>
    {% endfor %}
{% endif %}
    <div class="container">
        <div class="card text-center shadow mb-5 mt-5">
            <div class="card-header">
                <a class="text-light text-decoration-none float-end mt-2 px-3" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><h6 class="dropdown-header fw-bold"><i class="fas fa-user-circle"></i> {{ user.username }}</h6></li>
                    <li><a class="dropdown-item fw-light" href="{% url 'edit_profile' %}">Profile</a></li>
                    {% if user.id == 1 %}
                    <li><a class="dropdown-item fw-light" data-bs-target="#staticBackdrop3" href="#"
                    data-bs-toggle="modal">New Admin <strong class="text-success fw-bold">+</strong></a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item fw-light" data-bs-target="#staticBackdrop2" href="#"
                    data-bs-toggle="modal">Sign Out</a></li>
                </ul>
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a aria-current="true" class="nav-link" href="{% url 'edit_profile' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"><i class="fas fa-user-edit"></i></a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="true" class="nav-link active" href="{% url 'change_password' %}">Change Password</a>
                    </li>
                </ul>
            </div>

            <div class="card-body text-start">
                <form action="{% url 'change_password' %}" data-toggle="validator" method="POST" role="form">
                    {% csrf_token %}
                        <div class="form-group mb-2 mt-2">
                            <label class="mb-2">Old password:</label>
                            <input class="form-control" name="old_password" class="form-control" required id="id_old_password" autocomplete="current-password" type="password">

                            <!-- Error -->
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group mb-2 mt-2">
                            <label class="mb-2">New password:</label>
                            <input class="form-control" name="new_password1" class="form-control" required id="id_new_password1" autocomplete="new-password" type="password" minlength="8">

                            <!-- Error -->
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group mb-2 mt-2">
                            <label class="mb-2">New password confirmation:</label>
                            <input class="form-control" name="new_password2" class="form-control" required id="id_new_password2" autocomplete="new-password" type="password" data-match="#id_new_password1" data-match-error="Password don't match. Enter the same password as before, for verification.">

                            <!-- Error -->
                            <div class="help-block with-errors"></div>
                        </div>
                        <small>Note:
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul></small>


                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-outline-primary mt-3" type="submit">Update</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <br>
<!-- Modal Logout -->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel2" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="staticBackdrop2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="staticBackdropLabel2">Confirm Exit</h5>
                <button aria-label="Close" class="btn-close rounded-circle bg-light" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Back</button>
                <a href="{% url 'logout' %}">
                    <button class="btn btn-primary" type="submit">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Modal New Admin -->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel3" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="staticBackdrop3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="staticBackdropLabel3">Copy Clipboard</h5>
                <button aria-label="Close" class="btn-close rounded-circle bg-light" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" value="https://16d96d46f6d8.ngrok.io/user/new/admin-register/" id="myInput">

                <script>
                function myFunction() {
                  var copyText = document.getElementById("myInput");
                  copyText.select();
                  copyText.setSelectionRange(0, 99999);
                  document.execCommand("copy");
                }
                </script>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" onclick="myFunction()" onmouseout="outFunc()">Copy</button>
            </div>
        </div>
    </div>
</div>
{% include 'bootstrapbundleJs.html' %}
{% include 'tooltips.html' %}
{% else %}
    {% include 'restriction.html' %}
{% endif %}
</body>
</html>



